# Environment files
.env
.env.local
.env.*.local

# Security certificates
backend/src/main/resources/certs

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Spring
target/
*.tmp

# Angular
dist/
node_modules/